version: '3.3'
services:
  nginx:
    image: nginx:latest
  sut:
    build: .
    command: bash -c 'varnishtest test/*.vtc && bash test/test.sh'
    links:
        - nginx:nginx
    environment:
        HOST: "nginx:80"
        PUBLIC_KEY: |-
            -----BEGIN PUBLIC KEY-----
            MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAMWIrilCC8LEAhWwwVmlA7lgSH6VHLOy
            S9HFjIYiYKo6apbvrqwwOb1nZ1dyrAXgOUKBG8h2iWJWaqDqmoAFRScCAwEAAQ==
            -----END PUBLIC KEY-----
